<!--6. Terms & Conditions -->
<div id="tAndC">
  <h1 style="font-size: 30px;
  height: 30px;
  line-height: 30px;
  margin: 50px 0px 30px; color: #54565a; font-weight:500">
    {{ "CUSTOMER.termsHeading.name" | translate }}
  </h1>
  <h4>
    {{ "CUSTOMER.termsHeading.texts.text1" | translate }}
  </h4>
  <p>
    - Federal <span style="font-weight: bold;">ESIGN</span>
    {{ "CUSTOMER.termsHeading.texts.text2" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text3" | translate }}
  </p>
  <h4>
    {{ "CUSTOMER.termsHeading.texts.text4" | translate }}
  </h4>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text5" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text6" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text7" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text8" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text9" | translate }}
  </p>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text10" | translate }}
  </p>

  <h4>
    {{ "CUSTOMER.termsHeading.texts.text11" | translate }}
  </h4>
  <p>
    {{ "CUSTOMER.termsHeading.texts.text12" | translate }}
  </p>
  </div>
